language: python
python:
  - "2.7"

install:
  - pip install -r requirements.txt

notifications:
  email:
    recipients:
    - jesosa94@gmail.com
    - alex_gs92@hotmail.com
    on_success: always  # default: change
    on_failure: always  # default: change
deploy:
  provider: heroku

  api_key: fa9f8883-2d4c-4590-85ae-1ed7d7fda7f0
  app: programa-egc
  on:
    repo: enruiq/GestionVisualizacionDelProgramaEGC1718

script:
 - python manage.py test visualizacion/