{% extends 'base.html' %}
{% load static %}

{% block section %}
<br>
<h1>Charlas del evento</h1>
<br>



<a href="/">
    <button class="button">
        Volver al programa
    </button>
</a>

<table class="table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: center">Código</th>
            <th style="text-align: center">Evento</th>
            <th style="text-align: center">Título</th>
            <th style="text-align: center">Ponentes</th>
        </tr>
    </thead>
{% if charlas %}

    {% for charla in charlas %}

<tbody>
    <tr>
        <td>
        <a href="https://twitter.com/intent/tweet?text={{ charla.evento }}: {{ charla.titulo }}" class="twitter-share-button" data-show-count="false">Tweet
           </a><script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </td>
        <td WIDTH="200" style="text-align: center">{{ charla.sessioncode }} </td>

        <td WIDTH="200" style="text-align: center">{{ charla.evento }} </td>

        <td WIDTH="200">{{ charla.titulo }} </td>
        <td WIDTH="200" style="text-align: center">{{ charla.ponentes }} </td>


    </tr>
</tbody>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if charlas.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ programas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ charlas.number }} of {{ charlas.paginator.num_pages }}.
        </span>

        {% if charlas.has_next %}
            <a href="?page={{ charlas.next_page_number }}">next</a>
            <a href="?page={{ charlas.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    {% else %}
    <h1>NO HAY REGISTROS</h1>
    {% endif %}

</table>

<br>

{% endblock %}